@import url(fields/index.css);

form{
  margin-top: 3rem;

  & input{
    width: 528px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 16px;
  }

  
}

fieldset{
  border: none;
  display: grid;
  gap: 1.5rem
}

legend{
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}